body{
    background-color: black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    align-content:center;
}
/* HEADINGS */

.header--main{
    font-weight: normal;
    text-align: center;
    font-size: 50px;
    color:white;
}

/* LINKS */

.link--cta{
    color:aquamarine;
    font-size: 16px;
    text-align: center;
}

/* SECONDARY HEADER */

 .header--secondary{
    font-weight: normal;
    text-align: center;
    content-align:center;
    font-size: 30px;
    color:white;
} 

/* HEADER SUB-HEADER */

.header--sub-header{
    font-weight: normal;
    text-align: center;
    content-align:center;
    font-size: 20px;
    color:white;
}