body{
    background-color: black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    font-size:30px;
    color:white;
    align-content:center;
}

{.h1
    text-align: center;
    font-size: 50px;
}